.otherInformations {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.exceptionalPlantVarieties {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.easyCare {
	display: flex;
	flex-direction: column;
}

.indoorPlants {
	height: 1600px;
	width: 600px;
	margin: 40px;
	object-fit: none;
	margin-top: 200px;
}
.greenOasis {
	height: 1600px;
	width: 600px;
	margin: 40px;
	object-fit: none;
	margin-top: 200px;
}

.text {
	width: 55ch;
}

.exceptionalPlantVarieties h3 {
	text-align: center;
	font-weight: bolder;
	font-size: 3rem;
	margin-top: 300px;
	margin-bottom: auto;
}

.easyCare h3 {
	text-align: center;
	font-weight: bolder;
	font-size: 3rem;
	margin-top: 150px;
	margin-bottom: auto;
}
.text p  {
	font-weight: lighter;
	text-align: left;
	font-size: 2rem;
}

body {
	background-color: #94ab6f;
}
