th {
	background-color: #94ab6f;
	color: black;
	padding: 10px;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #cbd4ba;
}

tr:nth-child(odd) {
	background-color: #fbf6f1;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td,
th {
	padding: 12px;
	text-align: center;
	border: 1px solid #ddd;
	color: black;
}

.commonname {
	font-weight: bold;
	font-size: 32px;
	margin: 0;
}

.plantfamily {
	font-style: italic;
	font-size: 30px;
	margin: 0;
}

.latinname {
	font-size: 30px;
	font-style: italic;
	font-weight: lighter;
	margin: 0;
}

.imgplant {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}
