@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

#root {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.nav {
	list-style-type: none;
	padding: 0;
	display: flex;
	gap: 1rem;
}

.main-content {
	flex: 1;
}

body {
	font-family: "ABeeZee", sans-serif;
}

.first-paragraph {
	font-family: "ABeeZee", sans-serif;
}
.quizz-section {
	background-color: #fbf6f1;
	color: black;
	border: 2px solid #624f25;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centre verticalement le texte */
	height: 200px; /* Vous pouvez ajuster la hauteur pour contrôler l'espace vertical */
}
